<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qianfeng.wkrent.dao.ComboMapper">
  <resultMap id="BaseResultMap" type="com.qianfeng.wkrent.dto.Combo">
    <id column="COMBO_ID" jdbcType="DECIMAL" property="comboId" />
    <result column="COMBO_NAME" jdbcType="VARCHAR" property="comboName" />
    <result column="COMBO_PRICE" jdbcType="DECIMAL" property="comboPrice" />
    <result column="COMBO_SITE" jdbcType="VARCHAR" property="comboSite" />
    <result column="COMBO_TYPE" jdbcType="VARCHAR" property="comboType" />
    <result column="COMBO_DAYS" jdbcType="DECIMAL" property="comboDays" />
    <result column="INSTRUCTION_ID" jdbcType="DECIMAL" property="instructionId" />
    <result column="NOTICE_ID" jdbcType="DECIMAL" property="noticeId" />
    <result column="COMBO_IMG1" jdbcType="VARCHAR" property="comboImg1" />
    <result column="COMBO_IMG2" jdbcType="VARCHAR" property="comboImg2" />
    <result column="COMBO_IMG3" jdbcType="VARCHAR" property="comboImg3" />
    <result column="COMBO_IMG4" jdbcType="VARCHAR" property="comboImg4" />
    <result column="COMBO_IMG5" jdbcType="VARCHAR" property="comboImg5" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.qianfeng.wkrent.dto.Combo">
    <result column="COMBO_LIGHT" jdbcType="CLOB" property="comboLight" />
  </resultMap>
  <sql id="Base_Column_List">
    COMBO_ID, COMBO_NAME, COMBO_PRICE, COMBO_SITE, COMBO_TYPE, COMBO_DAYS, INSTRUCTION_ID, 
    NOTICE_ID, COMBO_IMG1, COMBO_IMG2, COMBO_IMG3, COMBO_IMG4, COMBO_IMG5
  </sql>
  <sql id="Blob_Column_List">
    COMBO_LIGHT
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from TB_COMBO
    where COMBO_ID = #{comboId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from TB_COMBO
    where COMBO_ID = #{comboId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.qianfeng.wkrent.dto.Combo">
    insert into TB_COMBO (COMBO_ID, COMBO_NAME, COMBO_PRICE, 
      COMBO_SITE, COMBO_TYPE, COMBO_DAYS, 
      INSTRUCTION_ID, NOTICE_ID, COMBO_IMG1, 
      COMBO_IMG2, COMBO_IMG3, COMBO_IMG4, 
      COMBO_IMG5, COMBO_LIGHT)
    values (#{comboId,jdbcType=DECIMAL}, #{comboName,jdbcType=VARCHAR}, #{comboPrice,jdbcType=DECIMAL}, 
      #{comboSite,jdbcType=VARCHAR}, #{comboType,jdbcType=VARCHAR}, #{comboDays,jdbcType=DECIMAL}, 
      #{instructionId,jdbcType=DECIMAL}, #{noticeId,jdbcType=DECIMAL}, #{comboImg1,jdbcType=VARCHAR}, 
      #{comboImg2,jdbcType=VARCHAR}, #{comboImg3,jdbcType=VARCHAR}, #{comboImg4,jdbcType=VARCHAR}, 
      #{comboImg5,jdbcType=VARCHAR}, #{comboLight,jdbcType=CLOB})
  </insert>
  <insert id="insertSelective" parameterType="com.qianfeng.wkrent.dto.Combo">
    insert into TB_COMBO
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="comboId != null">
        COMBO_ID,
      </if>
      <if test="comboName != null">
        COMBO_NAME,
      </if>
      <if test="comboPrice != null">
        COMBO_PRICE,
      </if>
      <if test="comboSite != null">
        COMBO_SITE,
      </if>
      <if test="comboType != null">
        COMBO_TYPE,
      </if>
      <if test="comboDays != null">
        COMBO_DAYS,
      </if>
      <if test="instructionId != null">
        INSTRUCTION_ID,
      </if>
      <if test="noticeId != null">
        NOTICE_ID,
      </if>
      <if test="comboImg1 != null">
        COMBO_IMG1,
      </if>
      <if test="comboImg2 != null">
        COMBO_IMG2,
      </if>
      <if test="comboImg3 != null">
        COMBO_IMG3,
      </if>
      <if test="comboImg4 != null">
        COMBO_IMG4,
      </if>
      <if test="comboImg5 != null">
        COMBO_IMG5,
      </if>
      <if test="comboLight != null">
        COMBO_LIGHT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="comboId != null">
        #{comboId,jdbcType=DECIMAL},
      </if>
      <if test="comboName != null">
        #{comboName,jdbcType=VARCHAR},
      </if>
      <if test="comboPrice != null">
        #{comboPrice,jdbcType=DECIMAL},
      </if>
      <if test="comboSite != null">
        #{comboSite,jdbcType=VARCHAR},
      </if>
      <if test="comboType != null">
        #{comboType,jdbcType=VARCHAR},
      </if>
      <if test="comboDays != null">
        #{comboDays,jdbcType=DECIMAL},
      </if>
      <if test="instructionId != null">
        #{instructionId,jdbcType=DECIMAL},
      </if>
      <if test="noticeId != null">
        #{noticeId,jdbcType=DECIMAL},
      </if>
      <if test="comboImg1 != null">
        #{comboImg1,jdbcType=VARCHAR},
      </if>
      <if test="comboImg2 != null">
        #{comboImg2,jdbcType=VARCHAR},
      </if>
      <if test="comboImg3 != null">
        #{comboImg3,jdbcType=VARCHAR},
      </if>
      <if test="comboImg4 != null">
        #{comboImg4,jdbcType=VARCHAR},
      </if>
      <if test="comboImg5 != null">
        #{comboImg5,jdbcType=VARCHAR},
      </if>
      <if test="comboLight != null">
        #{comboLight,jdbcType=CLOB},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qianfeng.wkrent.dto.Combo">
    update TB_COMBO
    <set>
      <if test="comboName != null">
        COMBO_NAME = #{comboName,jdbcType=VARCHAR},
      </if>
      <if test="comboPrice != null">
        COMBO_PRICE = #{comboPrice,jdbcType=DECIMAL},
      </if>
      <if test="comboSite != null">
        COMBO_SITE = #{comboSite,jdbcType=VARCHAR},
      </if>
      <if test="comboType != null">
        COMBO_TYPE = #{comboType,jdbcType=VARCHAR},
      </if>
      <if test="comboDays != null">
        COMBO_DAYS = #{comboDays,jdbcType=DECIMAL},
      </if>
      <if test="instructionId != null">
        INSTRUCTION_ID = #{instructionId,jdbcType=DECIMAL},
      </if>
      <if test="noticeId != null">
        NOTICE_ID = #{noticeId,jdbcType=DECIMAL},
      </if>
      <if test="comboImg1 != null">
        COMBO_IMG1 = #{comboImg1,jdbcType=VARCHAR},
      </if>
      <if test="comboImg2 != null">
        COMBO_IMG2 = #{comboImg2,jdbcType=VARCHAR},
      </if>
      <if test="comboImg3 != null">
        COMBO_IMG3 = #{comboImg3,jdbcType=VARCHAR},
      </if>
      <if test="comboImg4 != null">
        COMBO_IMG4 = #{comboImg4,jdbcType=VARCHAR},
      </if>
      <if test="comboImg5 != null">
        COMBO_IMG5 = #{comboImg5,jdbcType=VARCHAR},
      </if>
      <if test="comboLight != null">
        COMBO_LIGHT = #{comboLight,jdbcType=CLOB},
      </if>
    </set>
    where COMBO_ID = #{comboId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.qianfeng.wkrent.dto.Combo">
    update TB_COMBO
    set COMBO_NAME = #{comboName,jdbcType=VARCHAR},
      COMBO_PRICE = #{comboPrice,jdbcType=DECIMAL},
      COMBO_SITE = #{comboSite,jdbcType=VARCHAR},
      COMBO_TYPE = #{comboType,jdbcType=VARCHAR},
      COMBO_DAYS = #{comboDays,jdbcType=DECIMAL},
      INSTRUCTION_ID = #{instructionId,jdbcType=DECIMAL},
      NOTICE_ID = #{noticeId,jdbcType=DECIMAL},
      COMBO_IMG1 = #{comboImg1,jdbcType=VARCHAR},
      COMBO_IMG2 = #{comboImg2,jdbcType=VARCHAR},
      COMBO_IMG3 = #{comboImg3,jdbcType=VARCHAR},
      COMBO_IMG4 = #{comboImg4,jdbcType=VARCHAR},
      COMBO_IMG5 = #{comboImg5,jdbcType=VARCHAR},
      COMBO_LIGHT = #{comboLight,jdbcType=CLOB}
    where COMBO_ID = #{comboId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qianfeng.wkrent.dto.Combo">
    update TB_COMBO
    set COMBO_NAME = #{comboName,jdbcType=VARCHAR},
      COMBO_PRICE = #{comboPrice,jdbcType=DECIMAL},
      COMBO_SITE = #{comboSite,jdbcType=VARCHAR},
      COMBO_TYPE = #{comboType,jdbcType=VARCHAR},
      COMBO_DAYS = #{comboDays,jdbcType=DECIMAL},
      INSTRUCTION_ID = #{instructionId,jdbcType=DECIMAL},
      NOTICE_ID = #{noticeId,jdbcType=DECIMAL},
      COMBO_IMG1 = #{comboImg1,jdbcType=VARCHAR},
      COMBO_IMG2 = #{comboImg2,jdbcType=VARCHAR},
      COMBO_IMG3 = #{comboImg3,jdbcType=VARCHAR},
      COMBO_IMG4 = #{comboImg4,jdbcType=VARCHAR},
      COMBO_IMG5 = #{comboImg5,jdbcType=VARCHAR}
    where COMBO_ID = #{comboId,jdbcType=DECIMAL}
  </update>
</mapper>