<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qianfeng.wkrent.dao.CouponMapper">
  <resultMap id="BaseResultMap" type="com.qianfeng.wkrent.dto.Coupon">
    <id column="COUPON_ID" jdbcType="DECIMAL" property="couponId" />
    <result column="COUPON_DISCOUNT" jdbcType="DECIMAL" property="couponDiscount" />
    <result column="COUPON_RULE" jdbcType="VARCHAR" property="couponRule" />
    <result column="COUPON_START_TIME" jdbcType="TIMESTAMP" property="couponStartTime" />
    <result column="COUPON_END_TIME" jdbcType="TIMESTAMP" property="couponEndTime" />
  </resultMap>
  <sql id="Base_Column_List">
    COUPON_ID, COUPON_DISCOUNT, COUPON_RULE, COUPON_START_TIME, COUPON_END_TIME
  </sql>
  <select id="selectByStatus" resultMap="BaseResultMap">
    SELECT
    tc.COUPON_ID, tc.COUPON_DISCOUNT, tc.COUPON_RULE, tc.COUPON_START_TIME, tc.COUPON_END_TIME
    FROM tb_coupon tc
    INNER JOIN tb_user_coupon uc
    ON tc.coupon_id = uc.coupon_id
    WHERE uc.uc_status = #{ucStatus}
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from TB_COUPON
    where COUPON_ID = #{couponId}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from TB_COUPON
    where COUPON_ID = #{couponId}
  </delete>
  <insert id="insert" parameterType="com.qianfeng.wkrent.dto.Coupon">
    insert into TB_COUPON (COUPON_ID, COUPON_DISCOUNT, COUPON_RULE, 
      COUPON_START_TIME, COUPON_END_TIME)
    values (#{couponId}, #{couponDiscount}, #{couponRule}, 
      #{couponStartTime}, #{couponEndTime})
  </insert>
  <insert id="insertSelective" parameterType="com.qianfeng.wkrent.dto.Coupon">
    insert into TB_COUPON
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="couponId != null">
        COUPON_ID,
      </if>
      <if test="couponDiscount != null">
        COUPON_DISCOUNT,
      </if>
      <if test="couponRule != null">
        COUPON_RULE,
      </if>
      <if test="couponStartTime != null">
        COUPON_START_TIME,
      </if>
      <if test="couponEndTime != null">
        COUPON_END_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="couponId != null">
        #{couponId},
      </if>
      <if test="couponDiscount != null">
        #{couponDiscount},
      </if>
      <if test="couponRule != null">
        #{couponRule},
      </if>
      <if test="couponStartTime != null">
        #{couponStartTime},
      </if>
      <if test="couponEndTime != null">
        #{couponEndTime},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qianfeng.wkrent.dto.Coupon">
    update TB_COUPON
    <set>
      <if test="couponDiscount != null">
        COUPON_DISCOUNT = #{couponDiscount},
      </if>
      <if test="couponRule != null">
        COUPON_RULE = #{couponRule},
      </if>
      <if test="couponStartTime != null">
        COUPON_START_TIME = #{couponStartTime},
      </if>
      <if test="couponEndTime != null">
        COUPON_END_TIME = #{couponEndTime},
      </if>
    </set>
    where COUPON_ID = #{couponId}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qianfeng.wkrent.dto.Coupon">
    update TB_COUPON
    set COUPON_DISCOUNT = #{couponDiscount},
      COUPON_RULE = #{couponRule},
      COUPON_START_TIME = #{couponStartTime},
      COUPON_END_TIME = #{couponEndTime}
    where COUPON_ID = #{couponId}
  </update>
</mapper>