<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qianfeng.wkrent.dao.PlaceCarMapper">
    <resultMap id="ResultMap" type="com.qianfeng.wkrent.dto.entity.PlaceCar">
        <id column="pc_id" property="pcId" />
        <association property="place" column="place_id" select="com.qianfeng.wkrent.dao.PlaceMapper.selectByPrimaryKey"/>
        <association property="car" column="car_id" select="com.qianfeng.wkrent.dao.CarMapper.selectByPrimaryKey"/>
    </resultMap>

    <select id="selectByPlaceId" resultMap="ResultMap">
        SELECT pc_id,place_id,car_id FROM tb_place_car WHERE place_id = #{placeId}
    </select>
    
    <select id="selectCarPlace" resultMap="ResultMap">
        SELECT PC.*,C.*
        FROM TB_PLACE_CAR PC
        JOIN TB_CAR C ON PC.CAR_ID = C.CAR_ID
        JOIN TB_BRAND B ON B.BRAND_ID = C.BRAND_ID
        JOIN TB_CAR_TYPE CT ON CT.TYPE_ID = C.TYPE_ID
        WHERE PC.PLACE_ID = #{placeId} AND B.BRAND_NAME
        IN
        <foreach collection="brandList" item="brand" index="index" open="(" separator="," close=")">
            #{brand}
        </foreach>
        AND CT.TYPE_NAME
        IN
        <foreach collection="placeList" item="place" index="index" open="(" separator="," close=")">
            #{place}
        </foreach>
    </select>

</mapper>