<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qianfeng.wkrent.dao.RoomMapper">
  <resultMap id="BaseResultMap" type="com.qianfeng.wkrent.dto.Room">
    <id column="ROOM_ID" jdbcType="DECIMAL" property="roomId" />
    <result column="ROOM_NAME" jdbcType="VARCHAR" property="roomName" />
    <result column="ROOM_BED" jdbcType="VARCHAR" property="roomBed" />
    <result column="ROOM_BREAKFAST" jdbcType="VARCHAR" property="roomBreakfast" />
    <result column="ROOM_AREA" jdbcType="DECIMAL" property="roomArea" />
    <result column="ROOM_PRICE" jdbcType="DECIMAL" property="roomPrice" />
    <result column="HOTEL_ID" jdbcType="DECIMAL" property="hotelId" />
  </resultMap>
  <sql id="Base_Column_List">
    ROOM_ID, ROOM_NAME, ROOM_BED, ROOM_BREAKFAST, ROOM_AREA, ROOM_PRICE, HOTEL_ID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from TB_ROOM
    where ROOM_ID = #{roomId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from TB_ROOM
    where ROOM_ID = #{roomId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.qianfeng.wkrent.dto.Room">
    insert into TB_ROOM (ROOM_ID, ROOM_NAME, ROOM_BED, 
      ROOM_BREAKFAST, ROOM_AREA, ROOM_PRICE, 
      HOTEL_ID)
    values (#{roomId,jdbcType=DECIMAL}, #{roomName,jdbcType=VARCHAR}, #{roomBed,jdbcType=VARCHAR}, 
      #{roomBreakfast,jdbcType=VARCHAR}, #{roomArea,jdbcType=DECIMAL}, #{roomPrice,jdbcType=DECIMAL}, 
      #{hotelId,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.qianfeng.wkrent.dto.Room">
    insert into TB_ROOM
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roomId != null">
        ROOM_ID,
      </if>
      <if test="roomName != null">
        ROOM_NAME,
      </if>
      <if test="roomBed != null">
        ROOM_BED,
      </if>
      <if test="roomBreakfast != null">
        ROOM_BREAKFAST,
      </if>
      <if test="roomArea != null">
        ROOM_AREA,
      </if>
      <if test="roomPrice != null">
        ROOM_PRICE,
      </if>
      <if test="hotelId != null">
        HOTEL_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roomId != null">
        #{roomId,jdbcType=DECIMAL},
      </if>
      <if test="roomName != null">
        #{roomName,jdbcType=VARCHAR},
      </if>
      <if test="roomBed != null">
        #{roomBed,jdbcType=VARCHAR},
      </if>
      <if test="roomBreakfast != null">
        #{roomBreakfast,jdbcType=VARCHAR},
      </if>
      <if test="roomArea != null">
        #{roomArea,jdbcType=DECIMAL},
      </if>
      <if test="roomPrice != null">
        #{roomPrice,jdbcType=DECIMAL},
      </if>
      <if test="hotelId != null">
        #{hotelId,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qianfeng.wkrent.dto.Room">
    update TB_ROOM
    <set>
      <if test="roomName != null">
        ROOM_NAME = #{roomName,jdbcType=VARCHAR},
      </if>
      <if test="roomBed != null">
        ROOM_BED = #{roomBed,jdbcType=VARCHAR},
      </if>
      <if test="roomBreakfast != null">
        ROOM_BREAKFAST = #{roomBreakfast,jdbcType=VARCHAR},
      </if>
      <if test="roomArea != null">
        ROOM_AREA = #{roomArea,jdbcType=DECIMAL},
      </if>
      <if test="roomPrice != null">
        ROOM_PRICE = #{roomPrice,jdbcType=DECIMAL},
      </if>
      <if test="hotelId != null">
        HOTEL_ID = #{hotelId,jdbcType=DECIMAL},
      </if>
    </set>
    where ROOM_ID = #{roomId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qianfeng.wkrent.dto.Room">
    update TB_ROOM
    set ROOM_NAME = #{roomName,jdbcType=VARCHAR},
      ROOM_BED = #{roomBed,jdbcType=VARCHAR},
      ROOM_BREAKFAST = #{roomBreakfast,jdbcType=VARCHAR},
      ROOM_AREA = #{roomArea,jdbcType=DECIMAL},
      ROOM_PRICE = #{roomPrice,jdbcType=DECIMAL},
      HOTEL_ID = #{hotelId,jdbcType=DECIMAL}
    where ROOM_ID = #{roomId,jdbcType=DECIMAL}
  </update>
</mapper>