<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qianfeng.wkrent.dao.UserCouponMapper">
  <resultMap id="BaseResultMap" type="com.qianfeng.wkrent.dto.UserCoupon">
    <id column="UC_ID" jdbcType="DECIMAL" property="ucId" />
    <result column="USER_ID" jdbcType="DECIMAL" property="userId" />
    <result column="COUPON_ID" jdbcType="DECIMAL" property="couponId" />
    <result column="UC_STATUS" jdbcType="DECIMAL" property="ucStatus" />
  </resultMap>
  <sql id="Base_Column_List">
    UC_ID, USER_ID, COUPON_ID, UC_STATUS
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Short" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from TB_USER_COUPON
    where UC_ID = #{ucId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Short">
    delete from TB_USER_COUPON
    where UC_ID = #{ucId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.qianfeng.wkrent.dto.UserCoupon">
    insert into TB_USER_COUPON (UC_ID, USER_ID, COUPON_ID, 
      UC_STATUS)
    values (#{ucId,jdbcType=DECIMAL}, #{userId,jdbcType=DECIMAL}, #{couponId,jdbcType=DECIMAL}, 
      #{ucStatus,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.qianfeng.wkrent.dto.UserCoupon">
    insert into TB_USER_COUPON
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ucId != null">
        UC_ID,
      </if>
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="couponId != null">
        COUPON_ID,
      </if>
      <if test="ucStatus != null">
        UC_STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ucId != null">
        #{ucId,jdbcType=DECIMAL},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=DECIMAL},
      </if>
      <if test="couponId != null">
        #{couponId,jdbcType=DECIMAL},
      </if>
      <if test="ucStatus != null">
        #{ucStatus,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qianfeng.wkrent.dto.UserCoupon">
    update TB_USER_COUPON
    <set>
      <if test="userId != null">
        USER_ID = #{userId,jdbcType=DECIMAL},
      </if>
      <if test="couponId != null">
        COUPON_ID = #{couponId,jdbcType=DECIMAL},
      </if>
      <if test="ucStatus != null">
        UC_STATUS = #{ucStatus,jdbcType=DECIMAL},
      </if>
    </set>
    where UC_ID = #{ucId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qianfeng.wkrent.dto.UserCoupon">
    update TB_USER_COUPON
    set USER_ID = #{userId,jdbcType=DECIMAL},
      COUPON_ID = #{couponId,jdbcType=DECIMAL},
      UC_STATUS = #{ucStatus,jdbcType=DECIMAL}
    where UC_ID = #{ucId,jdbcType=DECIMAL}
  </update>
</mapper>